body{
    display: flex;
    justify-content: center;
    align-items: center;
    background: 
    linear-gradient(rgba(180, 180, 180, 0.5), rgba(189, 189, 189, 0.5)),
    url("/public/img/fondo-1.png");
    background-size: 100%;
}
.inicio{
    display: grid;
    justify-content: center;
    align-content: center;
    background-color: aliceblue;
    border-radius: 3%;
    border: 1px solid black;
    padding: 10px;
}
.inicio h1{
    color: black;
}
.logo{
    width: 150px;
    height: 120px;
}
.google{
    width: 40px;
    height: 40px;
}
.google-btn{
    justify-content: center;
    border-radius: 30px;
}
.alinear{
    justify-content: center;
}