<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Floristeria la Margarita</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="stylesheet" href="/public/css/inicio-sesion.css">
</head>

<body>
    <form action="" class="inicio">
        <div class="alinear">
            <img src="/public/img/logo.png" alt="Floristería la Margarita" class="logo">
            <h1>Iniciar sesión</h1>
            <div class="email">
                <label for="email">Correo electrónico:</label>
                <br>
                <input type="email" id="email" name="email" class="holder" placeholder="ejemplo@gmail.com" required>
            </div>

            <div class="contra">
                <label for="password">Contraseña:</label>
                <br>
                <input type="password" id="password" name="password" placeholder="*******" required>
            </div>

            <button type="submit" id="iniciar">Iniciar sesión</button>
            <p class="cualquiera">¿No tienes una cuenta?
                <a href="registrar.html" class="links">Regístrate aquí</a>
            </p>

            <div class="linea">
                <span>O</span>
            </div>
            
            <button type="button" class="google-btn">
                <img src="/public/img/google.webp" alt="Google" class="google">
                Coninuar con Google
            </button>
        </div>
    </form>
</body>

</html>